In [88]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\oseda\anaconda3\lib\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\oseda\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [89]:
!pip install findspark

Requirement already satisfied: findspark in c:\users\oseda\anaconda3\lib\site-packages (2.0.1)

In [160]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.functions import col

In [161]:
import findspark
findspark.init()

In [162]:
#Create Spark Session
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()

In [166]:
schema = StructType() \
      .add("Transaction_unique_identifier",StringType(),True) \
      .add("price",IntegerType(),True) \
      .add("Date_of_Transfer",DateType(),True) \
      .add("postcode",StringType(),True) \
      .add("Property_Type",StringType(),True) \
      .add("Old/New",StringType(),True) \
      .add("Duration",StringType(),True) \
      .add("PAON",StringType(),True) \
      .add("Type",IntegerType(),True) \
      .add("Street",StringType(),True) \
      .add("Locality",StringType(),True) \
      .add("Town/City",StringType(),True) \
      .add("District",StringType(),True) \
      .add("County",StringType(),True) \
      .add("PPDCategory_Type",StringType(),True) \
      .add("Record_Status - monthly_file_only",StringType(),True)

In [167]:
df = spark.read.format("csv").option("header","true").schema(schema).option("mode","DROPMALFORMED").load("C:/Users/oseda/Documents/Cloud Assignment/202304.csv")

In [168]:

#Removing columns
df = df.drop("Locality")
df = df.drop("Record_Status - monthly_file_only")
df = df.drop("PPDCategory_Type")
df.show()

+-----------------------------+------+----------------+--------+-------------+-------+--------+--------------+----+-----------------+-------------+-------------------+---------------+
|Transaction_unique_identifier| price|Date_of_Transfer|postcode|Property_Type|Old/New|Duration|          PAON|Type|           Street|    Town/City|           District|         County|
+-----------------------------+------+----------------+--------+-------------+-------+--------+--------------+----+-----------------+-------------+-------------------+---------------+
|         {40FD4DF2-5362-40...| 44500|      1995-02-03| SR6 0AQ|            T|      N|       F|            50|NULL|      HOWICK PARK|   SUNDERLAND|         SUNDERLAND|  TYNE AND WEAR|
|         {7A99F89E-7D81-4E...| 56500|      1995-01-13| CO6 1SQ|            T|      N|       F|            19|NULL| BRICK KILN CLOSE|   COLCHESTER|          BRAINTREE|          ESSEX|
|         {28225260-E61C-4E...| 58000|      1995-07-28| B90 4TG|            T|      N|       F|            37|NULL| RAINSBROOK DRIVE|     SOLIHULL|           SOLIHULL|  WEST MIDLANDS|
|         {444D34D7-9BA6-43...| 51000|      1995-06-28| DY5 1SA|            S|      N|       F|            59|NULL|       MERRY HILL|BRIERLEY HILL|             DUDLEY|  WEST MIDLANDS|
|         {AE76CAF1-F8CC-43...| 17000|      1995-03-10| S65 1QJ|            T|      N|       L|            22|NULL|    DENMAN STREET|    ROTHERHAM|          ROTHERHAM|SOUTH YORKSHIRE|
|         {709FB471-3690-49...| 58000|      1995-04-28| PE7 3AL|            D|      Y|       F|             4|NULL|       BROOK LANE| PETERBOROUGH|       PETERBOROUGH| CAMBRIDGESHIRE|
|         {5FA8692E-537B-42...| 19500|      1995-01-27|SK10 2QW|            T|      N|       L|            38|NULL|    GARDEN STREET| MACCLESFIELD|       MACCLESFIELD|       CHESHIRE|
|         {E78710AD-ED1A-4B...| 20000|      1995-01-16| SA6 5AY|            D|      N|       F|           592|NULL|     CLYDACH ROAD|      SWANSEA|            SWANSEA|        SWANSEA|
|         {1DFBF83E-53A7-48...|137500|      1995-03-31| NR2 2NQ|            D|      N|       F|            26|NULL|   LIME TREE ROAD|      NORWICH|            NORWICH|        NORFOLK|
|         {BCD607D8-7698-4C...| 57500|      1995-12-20| WS6 7BQ|            D|      N|       F|             6|NULL|    MERRILL CLOSE|      WALSALL|SOUTH STAFFORDSHIRE|  STAFFORDSHIRE|
|         {461BAE3D-DD53-40...| 70000|      1995-09-20|GL52 3LH|            D|      N|       F|          139B|NULL|    NEW BARN LANE|   CHELTENHAM|         CHELTENHAM|GLOUCESTERSHIRE|
|         {003DB740-4F22-46...| 62750|      1995-10-02| BR3 4AT|            T|      N|       F|            56|NULL|        EDEN ROAD|    BECKENHAM|            BROMLEY| GREATER LONDON|
|         {7BC20813-4C02-4F...| 35000|      1995-07-25|  L9 6DZ|            T|      N|       L|            25|NULL|    TILSTON CLOSE|    LIVERPOOL|          LIVERPOOL|     MERSEYSIDE|
|         {8B5FB0C0-01CF-45...| 78000|      1995-09-29|SW16 3BL|            S|      N|       F|           208|NULL|       GREEN LANE|       LONDON|            CROYDON| GREATER LONDON|
|         {38008828-F33E-4F...| 51000|      1995-10-31| UB5 5LH|            S|      N|       F|            57|NULL|    BENGARTH ROAD|     NORTHOLT|             EALING| GREATER LONDON|
|         {E104A9E7-1D6A-4D...| 36500|      1995-06-09| FY4 1DL|            F|      N|       L|CLARENCE COURT|  28| RAWCLIFFE STREET|    BLACKPOOL|          BLACKPOOL|      BLACKPOOL|
|         {8982E939-2927-45...| 41000|      1995-02-10|NE45 5AP|            T|      N|       F|            21|NULL|     FRONT STREET|    CORBRIDGE|           TYNEDALE| NORTHUMBERLAND|
|         {C6AC299D-A75A-48...|100000|      1995-09-29| WR5 3EU|            D|      N|       F|             8|NULL|BARNESHALL AVENUE|    WORCESTER|          WORCESTER| WORCESTERSHIRE|
|         {EAFDBDAA-0C4D-4A...|123000|      1995-09-05|NG34 7TF|            D|      Y|       F|             5|NULL|   CLAY HILL ROAD|     SLEAFORD|     NORTH KESTEVEN|   LINCOLNSHIRE|
|         {3A947F9C-D5C3-41...| 47000|      1995-10-30|BS15 9UR|            S|      N|       F|             9|NULL|      AMBLE CLOSE|      BRISTOL|          KINGSWOOD|           AVON|
+-----------------------------+------+----------------+--------+-------------+-------+--------+--------------+----+-----------------+-------------+-------------------+---------------+
only showing top 20 rows

In [169]:
#Checking df column types
df.dtypes

[('Transaction_unique_identifier', 'string'),
 ('price', 'int'),
 ('Date_of_Transfer', 'date'),
 ('postcode', 'string'),
 ('Property_Type', 'string'),
 ('Old/New', 'string'),
 ('Duration', 'string'),
 ('PAON', 'string'),
 ('Type', 'int'),
 ('Street', 'string'),
 ('Town/City', 'string'),
 ('District', 'string'),
 ('County', 'string')]

In [170]:
#Remove NA values
df = df.fillna(value=0,subset=["Type"])

df.show()

+-----------------------------+------+----------------+--------+-------------+-------+--------+--------------+----+-----------------+-------------+-------------------+---------------+
|Transaction_unique_identifier| price|Date_of_Transfer|postcode|Property_Type|Old/New|Duration|          PAON|Type|           Street|    Town/City|           District|         County|
+-----------------------------+------+----------------+--------+-------------+-------+--------+--------------+----+-----------------+-------------+-------------------+---------------+
|         {40FD4DF2-5362-40...| 44500|      1995-02-03| SR6 0AQ|            T|      N|       F|            50|   0|      HOWICK PARK|   SUNDERLAND|         SUNDERLAND|  TYNE AND WEAR|
|         {7A99F89E-7D81-4E...| 56500|      1995-01-13| CO6 1SQ|            T|      N|       F|            19|   0| BRICK KILN CLOSE|   COLCHESTER|          BRAINTREE|          ESSEX|
|         {28225260-E61C-4E...| 58000|      1995-07-28| B90 4TG|            T|      N|       F|            37|   0| RAINSBROOK DRIVE|     SOLIHULL|           SOLIHULL|  WEST MIDLANDS|
|         {444D34D7-9BA6-43...| 51000|      1995-06-28| DY5 1SA|            S|      N|       F|            59|   0|       MERRY HILL|BRIERLEY HILL|             DUDLEY|  WEST MIDLANDS|
|         {AE76CAF1-F8CC-43...| 17000|      1995-03-10| S65 1QJ|            T|      N|       L|            22|   0|    DENMAN STREET|    ROTHERHAM|          ROTHERHAM|SOUTH YORKSHIRE|
|         {709FB471-3690-49...| 58000|      1995-04-28| PE7 3AL|            D|      Y|       F|             4|   0|       BROOK LANE| PETERBOROUGH|       PETERBOROUGH| CAMBRIDGESHIRE|
|         {5FA8692E-537B-42...| 19500|      1995-01-27|SK10 2QW|            T|      N|       L|            38|   0|    GARDEN STREET| MACCLESFIELD|       MACCLESFIELD|       CHESHIRE|
|         {E78710AD-ED1A-4B...| 20000|      1995-01-16| SA6 5AY|            D|      N|       F|           592|   0|     CLYDACH ROAD|      SWANSEA|            SWANSEA|        SWANSEA|
|         {1DFBF83E-53A7-48...|137500|      1995-03-31| NR2 2NQ|            D|      N|       F|            26|   0|   LIME TREE ROAD|      NORWICH|            NORWICH|        NORFOLK|
|         {BCD607D8-7698-4C...| 57500|      1995-12-20| WS6 7BQ|            D|      N|       F|             6|   0|    MERRILL CLOSE|      WALSALL|SOUTH STAFFORDSHIRE|  STAFFORDSHIRE|
|         {461BAE3D-DD53-40...| 70000|      1995-09-20|GL52 3LH|            D|      N|       F|          139B|   0|    NEW BARN LANE|   CHELTENHAM|         CHELTENHAM|GLOUCESTERSHIRE|
|         {003DB740-4F22-46...| 62750|      1995-10-02| BR3 4AT|            T|      N|       F|            56|   0|        EDEN ROAD|    BECKENHAM|            BROMLEY| GREATER LONDON|
|         {7BC20813-4C02-4F...| 35000|      1995-07-25|  L9 6DZ|            T|      N|       L|            25|   0|    TILSTON CLOSE|    LIVERPOOL|          LIVERPOOL|     MERSEYSIDE|
|         {8B5FB0C0-01CF-45...| 78000|      1995-09-29|SW16 3BL|            S|      N|       F|           208|   0|       GREEN LANE|       LONDON|            CROYDON| GREATER LONDON|
|         {38008828-F33E-4F...| 51000|      1995-10-31| UB5 5LH|            S|      N|       F|            57|   0|    BENGARTH ROAD|     NORTHOLT|             EALING| GREATER LONDON|
|         {E104A9E7-1D6A-4D...| 36500|      1995-06-09| FY4 1DL|            F|      N|       L|CLARENCE COURT|  28| RAWCLIFFE STREET|    BLACKPOOL|          BLACKPOOL|      BLACKPOOL|
|         {8982E939-2927-45...| 41000|      1995-02-10|NE45 5AP|            T|      N|       F|            21|   0|     FRONT STREET|    CORBRIDGE|           TYNEDALE| NORTHUMBERLAND|
|         {C6AC299D-A75A-48...|100000|      1995-09-29| WR5 3EU|            D|      N|       F|             8|   0|BARNESHALL AVENUE|    WORCESTER|          WORCESTER| WORCESTERSHIRE|
|         {EAFDBDAA-0C4D-4A...|123000|      1995-09-05|NG34 7TF|            D|      Y|       F|             5|   0|   CLAY HILL ROAD|     SLEAFORD|     NORTH KESTEVEN|   LINCOLNSHIRE|
|         {3A947F9C-D5C3-41...| 47000|      1995-10-30|BS15 9UR|            S|      N|       F|             9|   0|      AMBLE CLOSE|      BRISTOL|          KINGSWOOD|           AVON|
+-----------------------------+------+----------------+--------+-------------+-------+--------+--------------+----+-----------------+-------------+-------------------+---------------+
only showing top 20 rows

In [171]:
#Remove duplicate values
df2 = df.dropDuplicates(["Transaction_unique_identifier", "Date_of_Transfer","Postcode"])